{% extends "temp.html" %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'interface_base_list' %}">接口管理</a>
        </li>
        <li id="breadcrumb" class="breadcrumb-item active">全部接口</li>
    </ol>
    <style>
        .breadcrumb {
            padding-top: 22px;
        }

        .breadcrumb .breadcrumb-item a {
            font-size: 16px;
            color: #d9534f;
        }

        .breadcrumb > .active {
            font-size: 16px;
            color: #d9534f;
        }

        input[type=search] {
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 300px;
        }

        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            position: static;
            opacity: 1;
        }

        .form .date {
            background-color: white;
            width: 120px;
            line-height: 1;
            height: 20px;
            border: 1px solid #060706;
            border-radius: 4px;
        }

        .form .select {
            display: inline-block;
            font-size: 14px;
            width: 130px;
        }

        .form .span-select {

            margin-left: 20px;
        }

        .panel-body .select {
            display: inline-block;
            font-size: 12px;
            width: 80px;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="form" style="width: 100%;height: 40px">
                {% csrf_token %}
                <span class="span-select">接口名称:
                    <input style="width: 10%" class="date" type="text" id="interfaceName"
                                                      value="{{ interfaceName }}" name="interfaceName" maxlength="50">
                </span>

                <span class="span-select">接口地址:<input style="width: 10%" class="date" type="text" id="interfaceAddress"
                                                      value="{{ interfaceAddress }}" maxlength="500"></span>

                <span class="span-select">请求方式:<select style="width: 8%" class="select" name="requestType"
                                                       id="requestType" value="{{ requestType }}">
                    <option value="" selected>请选择</option>
                    <option value="1">post</option>
                    <option value="2">get</option>
<!--                    <option value="3">put</option>-->
<!--                    <option value="4">delete</option>-->
                </select></span>

                <span class="span-select">状态:<select style="width: 6%" class="select" name="status" id="status">
                    <option value="" selected>全部</option>
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select></span>

                <span style="margin-left: 15px;">创建时间: 开始<input style="width: 10%" class="date" type="text"
                                                             value="{{ startTime }}" name="{{ startTime }}" readonly="true"
                                                             id="datetimepickerStart"/></span>

                <span>至<input style="width: 10%" class="date" type="text" value="{{ endTime }}" readonly="true" id="datetimepickerEnd"/></span>
            </div>
            <div style="text-align: right;margin-right: 10px;margin-top: 10px; margin-bottom: 10px;">
                <a class="btn btn-danger" href="{% url 'interface_create_list' %}" onclick="addInterface()">添加接口</a>
                <button type="button" class="btn btn-danger" id="query_cominfo" onclick="queryCominfo()"> 查询
                </button>
                <button type="reset" class="btn btn-danger" id="reset_cominfo" onclick="resetCominfo()">重置
                </button>
                <button type="button" class="btn btn-danger" name="button" id="remove_cominfo"
                        onclick="removeCominfo()">删除
                </button>
            </div>
        </div>
        <div class="panel-body">
            <!--将表格创建到此位置-->
            <div id="createtable" class="table"></div>
            <div id="pagination" style="text-align: center"></div>
        </div>
    </div>
    </div>

    <script>
        // 限制输入框不允许输入特殊字符
        function showKeyPress(evt) {
            evt = (evt) ? evt : window.event;
            return checkSpecificKey(evt.keyCode);
        }
        // 限制输入框不允许输入特殊字符
        function checkSpecificKey(keyCode) {
            var specialKey = "[`¥@%……-=+～·「」《》_\"~!#$^&*()=|{}':;',\\[\\].<>/?~！#……&*（）——|{}【】‘；：”“'。，、？]‘’";//Specific Key list
            var realkey = String.fromCharCode(keyCode);
            var flg = false;
            flg = (specialKey.indexOf(realkey) >= 0);
            if (flg) {
                popout('请勿输入特殊字符: ' + realkey,'fail_one.png',1);
                return false;
            }
            return true;
         }
         document.getElementById('interfaceName').onkeypress = showKeyPress;

        function getUrlParam(key) {
            // 获取参数
            var url = window.location.search;
            // 正则筛选地址栏
            var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)");
            // 匹配目标参数
            var result = url.substr(1).match(reg);
            //返回参数值
            return result ? decodeURIComponent(result[2]) : null;
        }

        //所有的dom元素加载完了以后再加载
        window.onload = function () {
            $('#breadcrumb').text(getUrlParam('businessName') || '全部接口');//如何有businessName就显示，没有就显示全部接口
        };

        // 点击翻页时调用此函数
        function loadData(currPage, pageSize) {
            // 发起ajax请求
            $.ajax({
                type: 'POST',
                url: "{% url 'interface_Search' %}",
                data: {
                    <!--使用ajax提交数据，，通过id获取参数的值-->
                    <!--获取url中'businessName'的值-->
                    businessName: getUrlParam('businessName'),
                    interfaceName: $('#interfaceName').val(),
                    interfaceAddress: $('#interfaceAddress').val(),
                    requestType: $("#requestType").val(),
                    status: $("#status").val(),
                    startTime: $('#datetimepickerStart')[0].value,
                    endTime: $('#datetimepickerEnd')[0].value,
                    operation: 'page',
                    page_size: pageSize,
                    page: currPage,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                // 成功后回调
                success: function (data) {
                    // 调用根据后台json数据data循环创建表格函数
                    CreateTable(data);
                    globalPage = data.pagination;

                    // 调用翻页组件中的setPage方法，让界面中的翻页组件根据点击事件发生变化，parseInt是转换为整型
                    $("#pagination").whjPaging("setPage",
                        {
                            currPage: parseInt(globalPage.cur_page),
                            totalPage: parseInt(globalPage.total_pages),
                            totalSize: parseInt(globalPage.total_records)
                        });
                }
            });
        };

        // 加载初始化翻页组件的函数
        function loadingPage(page) {
            if (page.total_records) {
                $("#pagination").whjPaging({
                    css: 'css-5',
                    currPage: parseInt(page.cur_page),
                    totalSize: parseInt(page.total_records),
                    totalPage: parseInt(page.total_pages),
                    pageSize: 10,
                    pageSizeOpt: [
                        {value: 5, text: '5条/页'},
                        {value: 10, text: '10条/页', selected: true},
                        {value: 15, text: '15条/页'},
                        {value: 20, text: '20条/页'}
                    ],
                    showPageNum: 5,
                    isResetPage: true,
                    callBack: function (currPage, pageSize) {
                        loadData(currPage, pageSize);
                    }
                });
            }
            $("#pagination").whjPaging("setPage", {currPage: parseInt(page.cur_page), totalPage: parseInt(page.total_pages), totalSize: parseInt(page.total_records)});
        };

        // 加载初始化日期选择框组件的函数
        function loadingDate() {
            var startMaxDate = false;
            $('#datetimepickerStart').datetimepicker({
                value: '',
                step: 1,
                lang: 'ch',
                format: 'Y-m-d H:i',
            }).on('click',function(e){
                var endDate = $("#datetimepickerEnd").val();
                if (endDate){
                    var yearDate = endDate.split(' ')[0].split('-');
                    var maxDate = yearDate[0] + '/' + yearDate[1] + '/' + yearDate[2];
                    $('#datetimepickerStart').datetimepicker({
                        value: '',
                        step: 1,
                        lang: 'ch',
                        format: 'Y-m-d H:i',
                        maxDate: maxDate,
                    })
                }
            });
            $('#datetimepickerEnd').datetimepicker({
                value: '',
                step: 1,
                lang: 'ch',
                format: 'Y-m-d H:i',
            }).on('click',function(e){
                var startDate = $("#datetimepickerStart").val();
                if (startDate){
                    var yearDate = startDate.split(' ')[0].split('-');
                    var minDate = yearDate[0] + '/' + yearDate[1] + '/' + yearDate[2];
                    $('#datetimepickerEnd').datetimepicker({
                        value: '',
                        step: 1,
                        lang: 'ch',
                        format: 'Y-m-d H:i',
                        minDate: minDate,
                    })
                }
            });
        };

        //后端传过来的是1,2,3,4需要转换为post/get/put/delete
        var method = {
            '1': 'post',
            '2': 'get',
            '3': 'put',
            '4': 'delete',
            ' ': ''
        }
        var method_status = {
            '1': '有效',
            '0': '无效',
            '': '',
            ' ': ''
        }
        // 根据后端json数据data循环创建表格函数
        function CreateTable(data) {
            //取后台传过来的data里边的data的数据
            var item = data.data;
            var curPage = data.pagination['cur_page'];
            //自定义一个datainfo
            var datainfo = {
                //自定义一个键,它的值是每一行的数据
                "columns": [
                    {
                        "field": "checkBox",
                        "title": '<input type="checkbox" id="checkboxall" onclick="checkAll()">'
                    },
                    {
                        "field": "id",
                        "title": "ID"
                    },
                    {
                        "field": "requestType",
                        "title": "方式"
                    },
                    {
                        "field": "businessCategories",
                        "title": "业务分类"
                    },
                    {
                        "field": "interfaceName",
                        "title": "接口名称"
                    },
                    {
                        "field": "interfaceAddress",
                        "title": "接口地址"
                    },
                    {

                        "field": "executeNumber",
                        "title": "次数"
                    },
                    {
                        "field": "status",
                        "title": "状态"
                    },
                    {
                        "field": "updateUser",
                        "title": "创建人"
                    },
                    {
                        "field": "handle",
                        "title": "操作"
                    },

                ],
                //自定义一个空的数组
                "rows": []
            };
            //创建checkbox,因为后台传过来地数据不包含checkbox
            for (var i = 0; i < item.length; i++) {
                item[i]['checkBox'] = '<input class="checkbox" type="checkbox" value="' + item[i].id + '">';
                item[i]['handle'] = '<a class="taskRun" style="cursor: pointer" onclick="taskRun(this)" value="' + item[i].id + '">运行</a>' +
                    '  <a href="/autotest/interface_edit/' + curPage + '/' + item[i].id +'" >编辑</a> ' +
                    '<a href="/autotest/interface_detail/' + curPage + '/' + item[i].id + '">详情</a>';

                datainfo['rows'].push(item[i]);
            }


            //开始创建表格(空的div),将它置为空
            $("#createtable")[0].textContent = '';
            //自定义每一行地长度
            var rowCount = datainfo.rows.length;
            //自定义每一列地长度
            var cellCount = datainfo.columns.length;
            //自定义一个表格
            var table = $('<table border="1" class="table  table-sm   table-hover"></table>');
            //将表格添加到div里边去
            table.appendTo($("#createtable"));
            //自定义一个表头
            var thead = $("<thead></thead>");
            //将表头添加到表格中
            thead.appendTo(table);
            //tr是行标签,,td是单元格
            var trHeader = $("<tr></tr>");
            trHeader.appendTo(thead);
            for (var j = 0; j < cellCount; j++) {
                var th;
                /* 当循环到第五个也就是接口地址的时候，固定宽度
                if (j == 2) {
                    th = $("<th width=50>" + datainfo.columns[j].title + "</th>");
                } else if (j == 5) {
                    th = $("<th width=100>" + datainfo.columns[j].title + "</th>");
                } else {
                    th = $("<th>" + datainfo.columns[j].title + "</th>");
                }*/
                if (j == 6) {
                    th = $("<th width=50px>" + datainfo.columns[j].title + "</th>");
                } else if (j == 7) {
                    th = $("<th width=50px>" + datainfo.columns[j].title + "</th>");
                } else if (j == 9) {
                    th = $("<th width=110px>" + datainfo.columns[j].title + "</th>");
                } else {
                    th = $("<th>" + datainfo.columns[j].title + "</th>");
                }
                th.appendTo(trHeader);
            }
            //table结构本身有tbody,在编写页面没写<tbody>时，浏览器会直接帮我们创建这些标签所对应的对象。
            // 隐式的<tbody>会把头<thead>、脚<tfoot>全部包含进去。
            var tbody = $("<tbody></tbody>");
            tbody.appendTo(table);
            //当没有数据的时候
            if (!rowCount) {
                var tr = $("<tr></tr>");
                tr.appendTo(tbody);
                //将9个单元格和为一个,显示文案
                var td = $('<td colspan="9" style="text-align: center">查询无结果，请重新选择筛选条件</td>');
                td.appendTo(tr);
            }
            //
            for (var i = 0; i < rowCount; i++) {
                var tr = $("<tr></tr>");
                tr.appendTo(tbody);
                //通过循环的方式,获取field的值
                for (var j = 0; j < cellCount; j++) {
                    var field = datainfo.columns[j].field;
                    //当循环到请求方式的时候,做判断,因为库中存的是1,2,3,4.显示的是具体的方式
                    if (field == "requestType") {
                        var val = "";
                        //如果这个值不为空,就取上边自定义的method的值
                        val = datainfo.rows[i][field];
                        // if (datainfo.rows[i][field] != null) {
                        //     val = method[datainfo.rows[i][field]];
                        // }
                    } else if (field == "status") {
                        var val = "";
                        //如果这个值不为空,就取上边自定义的method的值
                        if (datainfo.rows[i][field] != null) {
                            val = method_status[datainfo.rows[i][field]];
                        }
                    } else {
                        //否则就取从库里便取得值
                        var val = "";
                        if (datainfo.rows[i][field] != null) {
                            val = datainfo.rows[i][field];
                        }
                    }
                    var td = $("<td>" + val + "</td>");
                    td.appendTo(tr);
                }
            }
            $("#createtable").append("</table>");
        }
        ;

        // 处理全选或取消全选函数
        function checkAll() {
            var check = document.getElementsByClassName('checkbox');
            for (var i = 0; i < check.length; i++) {
                if (check[i].checked) {
                    check[i].checked = false;
                } else {
                    check[i].checked = true;
                }
            }
        };

        // 点击查询函数
        function queryCominfo() {
            $.ajax({
                type: 'POST',
                url: "{% url 'interface_Search' %}",
                data: {
                    <!--获取url中'businessName'的值-->
                    businessName: getUrlParam('businessName'),
                    interfaceName: $('#interfaceName').val(),
                    interfaceAddress: $('#interfaceAddress').val(),
                    requestType: $("#requestType").val(),
                    status: $("#status").val(),
                    startTime: $('#datetimepickerStart')[0].value,
                    endTime: $('#datetimepickerEnd')[0].value,
                    operation: 'query',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    CreateTable(data);
                    globalPage = data.pagination;
                    loadingPage(globalPage)
                }
            });
        };

        // 重置按钮函数
        function resetCominfo() {
            var myDate = new Date();
            var year = myDate.getFullYear();        //获取当前年
            var month = myDate.getMonth() + 1;   //获取当前月
            var date = myDate.getDate();            //获取当前日
            //var date = moment().subtract(1, "weeks").format("YYYY-MM-DD");
            var h = myDate.getHours();              //获取当前小时数(0-23)
            var m = myDate.getMinutes();          //获取当前分钟数(0-59)
            //var start_date = year + '-' + month + '-' + date + ' ' + '00:00';
            // var now_date = year + '-' + month + '-' + date + ' ' + h + ':' + m;
            //('0'+month).slice(-2) 解决显示一位数问题，补0
            {#var start_date = year + '-' + ('0' + month).slice(-2) + '-' + ('0' + (date - 7)).slice(-2) + ' ' + '00:00';#}
            // date <10 ? '0':''
            //month <10 ? '0':''
            //var start_date = year + '-' + ('0' + (month-1).toString()).slice(-2) + '-' + (date <10 ? '0':'' + (date-7).toString()).slice(-2) + ' ' + '00:00';
            var start_date = document.getElementById("datetimepickerStart").name;
            var now_date = year + '-' + ('0' + month.toString()).slice(-2) + '-' + ('0' + date).slice(-2) + ' ' + ('0' + h).slice(-2) + ':' + ('0' + m).slice(-2);


            document.getElementById("interfaceName").value = "";
            document.getElementById("interfaceAddress").value = "";
            document.getElementById("datetimepickerStart").value = "";
            document.getElementById("datetimepickerEnd").value = "";

            var all_options_requestType = document.getElementById("requestType").options;
            for (i = 0; i < all_options_requestType.length; i++) {
                if (all_options_requestType[i].value == '') {
                    all_options_requestType[i].selected = true;
                }
            }
            ;
            var all_options_status = document.getElementById("status").options;
            for (i = 0; i < all_options_status.length; i++) {
                if (all_options_status[i].value == '') {
                    all_options_status[i].selected = true;
                }
            }
            ;
        };

        // 删除函数
        function removeCominfo() {
            var check = document.getElementsByClassName('checkbox');
            var checkInfo = '';
            for (var i = 0; i < check.length; i++) {
                if (check[i].checked) {
                    if (checkInfo) {
                        checkInfo = checkInfo + '#' + check[i].value
                    } else {
                        checkInfo = check[i].value
                    }
                }
            }
            if(checkInfo !== ''){
                var urlInfo = decodeURI(window.location.href).split('=');
                var businessCategories = '';
                if(urlInfo.length==2){
                    businessCategories = urlInfo[1]
                }
                confirms('是否确认删除？注意：删除用例后将删除对应的测试任务中的用例信息！');
                $('.sure-box').click(function () {
                    $(".confirm").hide();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'interface_Search' %}",
                        data: {
                            'info': checkInfo,
                            interfaceName: $('#interfaceName').val(),
                            interfaceAddress: $('#interfaceAddress').val(),
                            requestType: $("#requestType").val(),
                            status: $("#status").val(),
                            startTime: $('#datetimepickerStart')[0].value,
                            endTime: $('#datetimepickerEnd')[0].value,
                            businessCategories: businessCategories,
                            curPage: globalPage.cur_page,
                            operation: 'delete',
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        success: function (data) {
                            CreateTable(data);
                            loadingPage(data.pagination)
                            popout('删除成功','sucess_one.png',2)
                            // window.location.href=globalUrl;
                        }
                    });
                });
                $('.cancel-box').click(function () {
                    $(".confirm").hide();
                })
                }else{
                    popout('没有选择要删除的内容！！！','fail_one.png',2)
                }
        };

        // 初始化页面
        var data = JSON.parse('{{ data|safe }}'); //接收后端数据并转换为json格式
        CreateTable(data);  // 循环创建表格
        var globalPage = data.pagination;  // 定义页数变量
        loadingPage(globalPage);  // 初始化翻页组件
        loadingDate();  // 初始化日期选择组件
        //运行接口函数
        function taskRun(vthis) {
            var task_id = $(vthis).attr('value');
            $.ajax({
                type: 'POST',
                url: "{% url 'interface_run' %}",
                data: {
                    task_id: task_id,
                    operation: 'taskrun',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    if (data.assertresult == 0) {
                        //popout('接口运行成功','sucess_one.png',2);
                        popout(data.msg,'sucess_one.png',2);
                        //msg_def('接口运行成功');
                    }else if (data.assertresult == 1) {
                        //popout('接口运行失败','fail_one.png',2);
                        popout(data.msg,'fail_one.png',2);
                        //msg_def('接口运行失败')
                    }
                }
            });
        }

    </script>

{% endblock %}