{% extends "temp.html" %}

{% block content %}
    <div id="page-inner">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">接口管理</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/autotest/inter/list/">全部接口</a>
            </li>
            <li class="breadcrumb-item active">添加接口</li>
        </ol>
        <style>
            .breadcrumb {
                padding-top: 22px;

            }

            #padd {
                padding-left: 100px; /*容器里面的内容从左边距离边框10个像素*/
                margin-top: 15px;
            }

            .breadcrumb .breadcrumb-item a {
                font-size: 16px;
                color: #d9534f;
            }

            .breadcrumb > .active {
                font-size: 16px;
                color: #d9534f;
            }


            input[type=search] {
                border: 1px solid #ccc;
                border-radius: 4px;
                width: 300px;
            }

            [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
                position: static;
                opacity: 1;
            }

            .form-control {
                padding: 0 12px;
                width: 512px;
                display: inline;
                height: 4rem;

            }

            .form .date {
                width: 110px;
                line-height: 1;
                height: 1.84em;
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: white;

            }

            .padding {
                padding: 0 5rem;
                padding-top: 15px; /*容器里面的内容从上边距离边框10个像素*/

            }

            .padding-01 {
                padding: 0 7.4rem;
            }

            .form .search {
                width: 200px;
            }

            .form .select {
                display: inline-block;
                font-size: 14px;
                width: 130px;

            }


            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .aaa {
                text-align: center;
                height: 80px;
            }

            .wy {
                display: inline-block;
                text-align: center;
            }

            .wy input {
                position: inherit !important;
                z-index: inherit !important; /*权重*/
                left: inherit !important;
                opacity: 1 !important;
                -webkit-appearance: radio;
            }

            .xs li {
                width: 2rem;
                height: 0.8rem;
                font-size: 0.34rem;
                color: #35BEF5;
                line-height: 0.8rem;
                text-align: center;
                background: #fff;
                float: left;
            }


            .xs li:first-child {
                border-radius: .08rem 0 0 .08rem
            }

            .xs li:last-child {
                border-radius: 0 .08rem .08rem 0
            }

            .xs li.active {
                color: #fff;
                background: #35BEF5;
            }

            #dat {
                background-color: white;

            }

            .row {
                margin-bottom: 0;
            }

            .row select {
                margin-bottom: 20px;
            }

            #hu {
                margin-bottom: 0;
                display: block;
            }

            .input-field label {
                position: static;
                font-size: 15px;
                width: 100px;
                padding-right: 10px;
                text-align: right;
                color: black;
            }

            .input-field label.active {
                font-size: 14px;
                transform: none;
            }

            .ys {
                margin-bottom: inherit;

            }

            .ys input {
                margin-bottom: inherit;
            }

            .center {
                display: flex;
                align-items: center
            }

            .input-field {
                margin-top: 0;
            }

            #gu {
                margin-bottom: 80px;
                margin-top: 20px;
            }

            .dat {
                background-color: #fff;
            }

            .input-field input[type=text] {
                width: 500px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .custom-col .input-field {
                display: flex;
            }
            #page-inner{
                margin-top: 0;
            }
            select:invalid { color: #cbcbcb; }
            select:hover { color: #1e1e1e; }
            .input-field {
                margin-top: 0;
                margin-left: -2px;
            }
            .input-field label {
                position: static;
                font-size: 13px;
                width: 74px;
                padding-right: 5px;
                text-align: right;
                color: black;
            }
        </style> <!---action 表示跳转的路径-->
        <!--form表单需要使用POST方法-->
        <form id="themeForm" action="#" method="POST" class="form">
            <div class="col s12 dat">
                <!--跳过禁止访问，403-->
                {% csrf_token %}
                {% if errmsg %}
                    <div class="alert alert-warning">
                        <a href="#" class="close" data-dismiss="alert">
                            &times;
                        </a>
                        <strong>警告！</strong>{{ errmsg }}
                    </div>
                {% endif %}

                <div class="row padding">
                    <div class="input-field col s12">
                        <label>接口名:</label>
                        <input name="interfaceName" placeholder="请输入接口名" class="validate" id="interfaceName" type="text" required maxlength="50">
                        <input type="hidden" id="postToken" name="postToken">
                    </div>
                </div>
                <div class="row padding">
                    <div class="input-field col s12">
                        <label>业务分类:</label>
                        <select name="businessCategories" id="businessCategories" class="form-control" required>
                            {% for interface_bc in interface_BusinessCategories %}
                                <option value="{{ interface_bc.id }}">{{ interface_bc.businessName }}</option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
                <div class="row padding">
                    <div class="input-field col s12">
                        <label>请求方式:</label>
                        <select name="requestType" id="type-select" class="form-control" required onchange="request_type()">
                            <option value="" selected="selected">请选择请求方式</option>
                            <option value="1">post</option>
                            <option value="2">get</option>
                        </select>
                    </div>
                </div>
                <div class="row padding">
                    <div class="input-field col s12">
                        <label>接口地址:</label>
                        <input name="interfaceAddress" id="interfaceAddress" placeholder="请输入接口地址" id="first_name" class="dat"
                               type="text" required maxlength="500">
                    </div>
                </div>
                <div class="row padding">
                    <div class="input-field col s12">
                        <label>状态:</label>
                        <select name="status" id="status" class="form-control" required>
                            <option value="" selected="selected">请选择接口状态</option>
                            <option value="1">有效</option>
                            <option value="0">无效</option>
                        </select>
                    </div>

                </div>
            <div class="cs-hidden">
                <div class="wy input-field col s12 padding">
                    <label>是否传参:</label>
                </div>
                <div class="wy input-field col s12 padding " style="margin-left: 20px;">
                    <input style="display:inline-block" name="transfer" class="checkbox" checked="checked" type="radio"
                           value="1" onclick="transferel(this)" data="1">是
                </div>
                <div class="wy input-field col s12 padding">
                    <input style="display:inline-block" name="transfer" class="checkbox" type="radio" value="0" onclick="transferel(this)" data="0">否
                </div>
                <input type="hidden" value="1" id="transferel_val" name="transferel_val">
                <div class="cs-hiddenel">
                    <div class="input-field col s12 padding">
                        <label>请求头:</label>
                    </div>
                    <!--第一个-->
                    <div class="row-tab01 input-field col s12 " id="padd">
                        <div class="row center">
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>头参数名:</label>
                                    <input style="width: 100px" class="name" value="" placeholder="请输入参数名" id="first_name"
                                           class="validate"
                                           type="text" maxlength="50">
                                </div>
                            </div>
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>头参数值:</label>
                                    <input style="width: 100px" class="value" value="" placeholder="请输入参数值" id="canshuzhi"
                                           class="validate"
                                           type="text" maxlength="200">
                                </div>
                            </div>
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>头参数类型:</label>
                                    <select id="hu"
                                            style="width: 145px" class="type" value="" id="type-select"
                                            class="form-control">
                                        <option value="" selected="selected">请选择参数类型</option>
                                        <option value="0">string</option>
                                        <option value="1">int</option>
                                    </select>
                                </div>
                            </div>
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>请求头描述:</label>
                                    <input style="width: 100px" class="description" value="" placeholder="请输入参数说明"
                                           id="first_name"
                                           class="validate"
                                           type="text" maxlength="100">
                                </div>
                            </div>
                            <div class="custom-col ys center">
                                <input type="button" class="add" vaLue="添加">
                                <input type="button" class="del" value="删除">
                            </div>
                        </div>
                    </div>
                    <div class="wy input-field col s12 padding">
                        <label>参数格式:</label>
                    </div>
                    <div class="wy j-wy input-field col s12 padding " style="margin-left: 20px;">
                        <!--value的值就是存入数据库的值 0，1，2-->
                        <!--checked="checked"表示默认选择的-->
                         <input style="display:inline-block" name='format' class="checkbox" checked="checked" type="radio" value="2">x-www-form-urlencoded
                    </div>
                    <div class="wy j-wy input-field col s12 padding">
                        <input style="display:inline-block" name='format' class="checkbox" type="radio" value="1">源数据(raw-json)

                    </div>

                    <!--第一个-->
                    <div class="row-tab input-field col s12" id="padd">
                        <div class="row center">
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>参数名:</label>
                                    <input style="width: 100px" class="name" value="" placeholder="请输入参数名" id="first_name"
                                           class="validate"
                                           type="text" maxlength="50">
                                </div>
                            </div>
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>参数值:</label>
                                    <input style="width: 100px" class="value" value="" placeholder="请输入参数值" id="canshuzhi"
                                           class="validate"
                                           type="text" maxlength="200">
                                </div>
                            </div>
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>参数类型:</label>
                                    <select id="hu" class="type" value=""
                                            style="width: 145px" id="type-select" class="form-control">
                                        <option value="" selected="selected">请选择参数类型</option>
                                        <option value="0">string</option>
                                        <option value="1">int</option>
                                    </select>
                                </div>
                            </div>
                            <div class="custom-col center">
                                <div class="input-field ys center">
                                    <label>参数说明:</label>
                                    <input style="width: 100px" class="description" value="" placeholder="请输入参数说明"
                                           id="first_name"
                                           class="validate"
                                           type="text" maxlength="100">
                                </div>
                            </div>
                            <div class="custom-col ys center">
                                <input type="button" class="add" vaLue="添加">
                                <input type="button" class="del" value="删除">
                            </div>
                        </div>
                    </div>
                </div>
                <!--第二个-->
                <div class="row-tab" style="display:none;padding-top: 15px; ">
                    {#            <div class="row-tab input-field col s12" style="display:none;">#}
                    <div class="row padding-01">
                        <div class="col-md-6 custom-col">
                            {#                    <div class="input-field">#}
                            <div class="input-field">
                                <label>raw:</label>
                                <!--textarea中的数据左对齐显示，标签之间不能有空格-->
                                <textarea name="raw" id="first_name" class="form-control validate"
                                          style="min-height: 100px;min-width: 400px;max-height: 100px; max-width: 200px;"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <!--第三个-->
                <div class="row-tab input-field col s12 " id="padd" style="display:none;">
                    <div class="row center">
                        <div class="custom-col center">
                            <div class="input-field ys center">
                                <label>参数名:</label>
                                <input style="width: 100px" class="name" placeholder="请输入参数名" id="first_name"
                                       class="validate"
                                       type="text" maxlength="50">
                            </div>
                        </div>
                        <div class="custom-col center">
                            <div class="input-field ys center">
                                <label>参数值:</label>
                                <input style="width: 100px" class="value" placeholder="请输入参数值" id="canshuzhi"
                                       class="validate"
                                       type="text" maxlength="200">
                            </div>
                        </div>
                        <div class="custom-col center">
                            <div class="input-field ys center">
                                <label>参数类型:</label>
                                <select
                                        style="width: 145px" class="type" value="" id="hu"
                                        class="form-control">
                                    <option value="" selected="selected">请选择参数类型</option>
                                    <option value="1">string</option>
                                    <option value="2">int</option>
                                </select>
                            </div>
                        </div>
                        <div class="custom-col center">
                            <div class="input-field ys center">
                                <label>参数说明:</label>
                                <input style="width: 100px" class="description" placeholder="请输入参数说明" id="first_name"
                                       class="validate"
                                       type="text" maxlength="100">
                            </div>
                        </div>
                        <div class="custom-col ys center">
                            <input type="button" class="add" vaLue="添加">
                            <input type="button" class="del" value="删除">
                        </div>
                    </div>
                </div>
            </div>
                <div class="row padding-01">
                    <div class="col-md-12 custom-col" id="gu">
                        <div class="input-field">
                            <label>期望结果:</label>
                            <textarea name="expected_result" id="expected_result" class="form-control validate"
                                      value="expected_result"
                                      style="width: 360px;height: 150px"
                                      required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" class="head" name="head" value="">
            <input type="hidden" class="request" name="request" value="">
            <div class="aaa" id="dat">
                <button type="submit" class="btn btn-danger" id="center_ed" onclick="submitForm()">保存</button>
                <input type="button" class="btn btn-danger" name="button" id="remove_cominfo"
                       value="返回" onclick="close_to_interface_list()" style="background: #d9534f">
            </div>
            </div>
            </div>
        </form>
    </div>
    <script src="/static/assets/js/jquery.form.min.js"></script>
    <script>

        $("form").submit(function(e){
            if(isNull($('#interfaceName').val())){
                popout('接口名称不能为空或纯空格！', "sucess_one.png", 1);
            }else if(isNull($('#businessCategories').val())){
                popout('业务分类不能为空或纯空格！', "sucess_one.png", 1);
            }else if(isNull($('#type-select').val())){
                popout('请选择请求方式！', "sucess_one.png", 1);
            }else if(isNull($('#interfaceAddress').val())){
                popout('接口地址不能为空或纯空格！', "sucess_one.png", 1);
            }else if(isNull($('#status').val())){
                popout('请选择接口状态！', "sucess_one.png", 1);
            }else if(isNull($('#expected_result').val())){
                popout('期望结果不能为空或纯空格！', "sucess_one.png", 1);
            }else{
                return true
            }
            return false
        });
        document.getElementById('postToken').value = $.cookie('post_token');

        function submitForm() {
            setInterval(setPostToken, 500);
            popout("正在保存 请稍后...","sucess_one.png",2)
        }

        // 限制输入框不允许输入特殊字符
        function showKeyPress(evt) {
            evt = (evt) ? evt : window.event;
            return checkSpecificKey(evt.keyCode);
        }
        // 限制输入框不允许输入特殊字符
        function checkSpecificKey(keyCode) {
            var specialKey = "[`¥@%……-=+～·「」《》\"~!#$^&*()=|{}':;',\\[\\].<>/?~！#……&*（）——|{}【】‘；：”“'。，、？]‘’";//Specific Key list
            var realkey = String.fromCharCode(keyCode);
            var flg = false;
            flg = (specialKey.indexOf(realkey) >= 0);
            if (flg) {
                if(realkey==' '){
                    popout('不允许输入空格！！！','fail_one.png',1);
                }else{
                    popout('请勿输入特殊字符: ' + realkey,'fail_one.png',1);
                }
                return false;
            }
            return true;
         }
         document.getElementById('interfaceName').onkeypress = showKeyPress;

        function setPostToken(){
            document.getElementById('postToken').value = 'Invalid';
        }

        function close_to_interface_list() {
            //此处修改链接
            window.location = '#';
        }

        function isNull(str){
            if (str == "") return true;
            var regu = "^[ ]+$";
            var re = new RegExp(regu);
            return re.test(str);
        }

        $(function () {
            $(".j-wy").each(function (index, el) {<!--each循环遍历，，function（索引，当前元素）-->
                $(this).click(function () {<!--this就是当前元素-->
                    $(".j-wy").removeClass("active");
                    <!--移除所有的样式-->
                    $(this).addClass("active");
                    <!--给当前元素添加当前的样式-->
                    //$('html, body').animate({scrollTop:0}, 'fast');
                    {#$(".row-tab").hide().find('input,select,textarea').removeAttr('required');#}
                    {#$(".row-tab").eq(index).show().find('input,select,textarea').attr('required', true);#}
                    $(".row-tab").hide().find();
                    $(".row-tab").eq(index).show().find();
                    <!--eq选择哪个元素就显示哪个-->
                });
            });

            $(".add").click(function () {
                var row = $(this).parents('.row').clone(true),
                    rowTab = $(this).parents('.row-tab,.row-tab01');

                rowTab.append(row)
                {#                return false;<!--阻止默认事件，不跳转-->#}

            })
            $(".del").click(function () {
                if ($(this).parents('.row-tab,.row-tab01').find('.row').length > 1) {
                    $(this).parents('.row').remove();
                } else {
                    {#msg_def('第一行不能删除')#}
                    popout("第一行不能删除！！!", "fail_one.png", 0.5);
                }
                return false;

            })
            //使用jQuery 事件-submit()方法
            $('.form').on('submit', function () {
                //自定义两个空的数组
                var head = [], request = [];
                //获取定位到如下类名的行
                $('.row-tab01 .row,.row-tab .row').each(function () {
                    //自定义字段名也就是上边的class的值
                    var name, value, type, description;
                    //获取到name的值，命名为name  .val就是取他的值（value）
                    name = $.trim($(this).find('.name').val());
                    value = $.trim($(this).find('.value').val());
                    type = $.trim($(this).find('.type').val());
                    description = $.trim($(this).find('.description').val());
                    //||表示或
                    if (name || value || type || description) {
                        //判断当前元素的父类的长度，如果大于0提交下面的参数
                        if ($(this).parents('.row-tab01').length) {
                            //.push就是提交
                            head.push({
                                name: name,
                                value: value,
                                type: type,
                                description: description
                            })
                        }
                        if ($(this).parents('.row-tab').length) {
                            request.push({
                                name: name,
                                value: value,
                                type: type,
                                description: description
                            })
                        }
                    }
                })
                //将json转换为str类型
                head = JSON.stringify(head)
                request = JSON.stringify(request);
                $('.head').val(head)
                $('.request').val(request)
                if (!$('.head').val() || !$('.request').val()) return false;
            })
        })
        // 判断请求方式，决定是否隐藏参数内容
        function request_type(){
            // var req_val = $("#type-select").val();
            // if(req_val == "2"){
            //     $(".cs-hidden").hide();
            // }else{
            //     $(".cs-hidden").show();
            // }
        }
        // 判断是否传参，觉得是否隐藏内容
        function transferel(obj){
            var tran_val = $(obj).attr("data");
            $("#transferel_val").val(tran_val)
            if(tran_val == "0"){
                $(".cs-hiddenel").hide();
                $(".row-tab").hide();
            }else{
                $(".cs-hiddenel").show();
                $(".row-tab").show();
            }
        }

        function getCookie(cookie_name) {
                var allcookies = document.cookie;
                //索引长度，开始索引的位置
                var cookie_pos = allcookies.indexOf(cookie_name);

                // 如果找到了索引，就代表cookie存在,否则不存在
                if (cookie_pos != -1) {
                    // 把cookie_pos放在值的开始，只要给值加1即可
                    //计算取cookie值得开始索引，加的1为“=”
                    cookie_pos = cookie_pos + cookie_name.length + 1;
                    //计算取cookie值得结束索引
                    var cookie_end = allcookies.indexOf(";", cookie_pos);

                    if (cookie_end == -1) {
                        cookie_end = allcookies.length;

                    }
                    //得到想要的cookie的值
                    var value = unescape(allcookies.substring(cookie_pos, cookie_end));
                }
                return value;
            }

    </script>
{% endblock %}






