<html lang="en">
<meta charset="utf-8">
<title>测试数据平台</title>
<link href="/static/assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script src="/static/assets/js/echarts.min.js" charset="utf-8"></script>
<!--<link href="/static/assets2/css/bootstrap.min.css" rel="stylesheet"/>-->
<script src="/static/assets2/js/jquery.min.js"></script>


<body>
<div class="bnt">
    <div class="topbnt_left fl">
        <!-- 顶部动态显示数据-->
        <ul>
            <li>Android:<span id="android_count"></span></li>
            <li>Ios:<span id="ios_count"></span></li>
            <li>Server:<span id='server_count'></span></li>
            <li>Flutter:<span id='flutter_count'></span></li>
        </ul>
    </div>
    <h1 class="tith1 fl">测试数据平台</h1>
    <div class=" fr topbnt_right">
        <ul>
            <li><a href="https://rg975ojk5z.feishu.cn/base/RGz2bX9TNagr2PsJp57c1tKlne8?table=tblI9mr4bogNeUpx&view=vewMnpNgGD">总结与分享</a></li>
            <li><a href="https://rg975ojk5z.feishu.cn/base/V3OMbRyLpasVNGsdbwacONhanBd?table=tblpedovHXYyrNJp&view=vewOyZHEdg">线上反馈</a></li>
            <li><a href="http://10.41.3.60:8080/">安卓打包机</a></li>
             <li><a href="http://10.41.3.223:8080/view/StarMaker/">ios打包机</a></li>
        </ul>
        </ul>
    </div>
</div>
<!-- bnt end -->
<div class="puleft fl">
    <div class="pulefttop">
        <!-- 折线图区域-->
        <h2 class="tith2">多语言自动化结果</h2>
        <div id='m1' style="width:90%; height:88%;margin-left:5%"></div>
    </div>
    <div class="puleftboxtmidd">
        <h2 class="tith2">多语言统计</h2>
        <div class="box pbox" style="width: auto;height: 88%;margin-top: 2px">
            <div id='m2' style="width:90%; height:117%;margin-left:5%"></div>
        </div>
    </div>
    <div class="puleftboxtbott">
        <h2 class="tith2 pt1">舆情环比分析</h2>
        <div class="lefttoday_tit"><p class="fl">状态：已调节</p>
            <p class="fr">时间段：2018-06-10 至 2018-06-14</p></div>
        <div class="box pbox">
            <div id="puleftboxtbott1" class="fl puleftboxtbott1"></div>
            <div class="puleftboxtbott2 fr">
                <div class="widget-inline-box text-center ">
                    <p>ui自动化执行次数</p>
                    <h3 class=" ceeb1fd">54</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/iconup.png" height="16"/>2%</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>接口自动化执行次数</p>
                    <h3 class=" c24c9ff">54</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/icondown.png" height="16"/>3%</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>本月舆情总数</p>
                    <h3 class=" cffff00">4</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/icondown.png" height="16"/>3%</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  left1 end -->
<div class="fl pt6 puleft2">
    <div class="pmidd_bott">
        <div class="pumiddboxttop1 fl">
            <h2 class="tith2 pt3">执行次数</h2>
            <div class="lefttoday_tit"><p class="fl"></p>
                <p class="fr"></p></div>
            <div class="puleft2height">
                <div class="widget-inline-box text-center ">
                    <p>多语言执行总数</p>
                    <h3 class=" ceeb1fd f30" id='executions_total'></h3>
                    <h4 class="text-muted ">增长<img src="/static/assets/img/iconup.png" height="16"/>1次</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>ui自动化执行次数</p>
                    <h3 class=" c24c9ff f30">54</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/icondown.png" height="16"/>3%</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>接口自动化执行次数</p>
                    <h3 class=" cffff00 f30">4</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/icondown.png" height="16"/>3%</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>今日线上反馈数量</p>
                    <h3 class=" ceeb1fd f30">54</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/iconup.png" height="16"/>2%</h4>
                </div>
            </div>
        </div>
        <div class="pumiddboxttop2 fl">
            <h2 class="tith2 pt3">热门信息</h2>
            <div class="lefttoday_tit "><p class="fl">状态：已调节</p>
                <p class="fr">时间段：2018-06-10</p></div>
            <div class="left2_table pumiddboxttop2_cont">
                <ul>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li class="bg">
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li class="bg">
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li class="bg">
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--  amidd_bott end-->
    <div class="pmiddboxtbott">
        <h2 class="tith2 pt1">舆情同比分析</h2>
        <div class="lefttoday_tit"><p class="fl">状态：已调节</p>
            <p class="fr">时间段：2018-06-10 至 2018-06-14</p></div>
        <div class="box pbox">
            <div id="pumiddboxtbott1" class="fl pumiddboxtbott1cont"></div>
            <div class="pumiddboxtbott2 fr">
                <div class="widget-inline-box text-center ">
                    <p>今年舆情总数</p>
                    <h3 class=" ceeb1fd f30">54</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/iconup.png" height="16"/>2%</h4>
                </div>

            </div>
        </div>
    </div>
    <!-- amidd_bott end -->
</div>
<!-- mrbox_top end -->
<div class="mr_right fl">
    <div class="purightboxtop"><h2 class="tith2 pt12">舆情类别分析</h2>
        <div class="lefttoday_tit"><p class="fl">状态：已调节</p>
            <p class="fr">时间段：2018-06-10</p></div>
        <div id="purightboxtop" class="purightboxtopcont"></div>
    </div>
    <div class="purightboxmidd"><h2 class="tith2 pt12">七日舆情走势分析</h2>
        <div class="lefttoday_tit"><p class="fl">状态：已调节</p>
            <p class="fr">时间段：2018-06-10</p></div>
        <div id="purightboxmidd" class="purightboxmiddcont"></div>
    </div>
    <div class="purightboxbott"><h2 class="tith2 pt12">矛盾纠纷七日数据分析</h2>
        <div class="lefttoday_tit"><p class="fl">状态：已调节</p>
            <p class="fr">时间段：2018-06-10 至 2018-06-14</p></div>
        <div id="purightboxbott" class="purightboxbottcont"></div>
    </div>
</div>


<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('puleftboxtbott1'));
    var data = [
        [[28604, 77, 17099, 'Australia', 1990], [31163, 77.4, 2440, 'Canada', 1990], [1516, 68, 1605773, 'China', 1990], [13670, 74.7, 10082, 'Cuba', 1990], [28599, 75, 49805, 'Finland', 1990], [29476, 77.1, 569499, 'France', 1990], [31476, 75.4, 789237, 'Germany', 1990], [28666, 78.1, 254830, 'Iceland', 1990], [1777, 57.7, 870776, 'India', 1990], [29550, 79.1, 129285, 'Japan', 1990], [2076, 67.9, 201954, 'North Korea', 1990], [12087, 72, 42954, 'South Korea', 1990], [24021, 75.4, 33934, 'New Zealand', 1990], [43296, 76.8, 4240375, 'Norway', 1990], [10088, 70.8, 381958, 'Poland', 1990], [19349, 69.6, 1475652, 'Russia', 1990], [10670, 67.3, 53905, 'Turkey', 1990], [26424, 75.7, 57117, 'United Kingdom', 1990], [37062, 75.4, 252810, 'United States', 1990]],
        [[44056, 81.8, 23973, 'Australia', 2015], [43294, 81.7, 35927, 'Canada', 2015], [13334, 76.9, 1376043, 'China', 2015], [21291, 78.5, 11562, 'Cuba', 2015], [38923, 80.8, 55057, 'Finland', 2015], [37599, 81.9, 64345, 'France', 2015], [44053, 81.1, 80545, 'Germany', 2015], [42182, 82.8, 329425, 'Iceland', 2015], [5903, 66.8, 1311027, 'India', 2015], [36162, 83.5, 126571, 'Japan', 2015], [1390, 71.4, 251317, 'North Korea', 2015], [34644, 80.7, 503439, 'South Korea', 2015], [34186, 80.6, 4528526, 'New Zealand', 2015], [64304, 81.6, 5210967, 'Norway', 2015], [24787, 77.3, 386194, 'Poland', 2015], [23038, 73.13, 143918, 'Russia', 2015], [19360, 76.5, 78630, 'Turkey', 2015], [38225, 81.4, 64715810, 'United Kingdom', 2015], [53354, 79.1, 321771, 'United States', 2015]]
    ];

    option = {
        backgroundColor: 'rgba(1,202,217,.2)',
        grid: {
            left: 60,
            right: 40,
            top: 45,
            bottom: 40
        },
        title: {
            top: 5,
            left: 20,
            textStyle: {
                fontSize: 10,
                color: 'rgba(255,255,255,.6)'
            },
            text: '环比类型：日环比'
        },
        legend: {
            right: 10,
            top: 5,
            textStyle: {
                fontSize: 10,
                color: 'rgba(255,255,255,.6)'
            },
            data: ['1990', '2015']
        },
        xAxis: {
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)'
                }
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            },
            axisLabel: {
                color: "rgba(255,255,255,.7)"
            }
        },
        yAxis: {
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)'
                }
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            },
            axisLabel: {
                color: "rgba(255,255,255,.7)"
            },

            scale: true
        },
        series: [{
            name: '1990',
            data: data[0],
            type: 'scatter',
            symbolSize: function (data) {
                return Math.sqrt(data[2]) / 5e2;
            },
            label: {
                emphasis: {
                    show: true,
                    formatter: function (param) {
                        return param.data[3];
                    },
                    position: 'top'
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(120, 36, 50, 0.5)',
                    shadowOffsetY: 5,
                    color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                        offset: 0,
                        color: 'rgb(251, 118, 123)'
                    }, {
                        offset: 1,
                        color: 'rgb(204, 46, 72)'
                    }])
                }
            }
        }, {
            name: '2015',
            data: data[1],
            type: 'scatter',
            symbolSize: function (data) {
                return Math.sqrt(data[2]) / 5e2;
            },
            label: {
                emphasis: {
                    show: true,
                    formatter: function (param) {
                        return param.data[3];
                    },
                    position: 'top'
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(25, 100, 150, 0.5)',
                    shadowOffsetY: 5,
                    color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                        offset: 0,
                        color: 'rgb(129, 227, 238)'
                    }, {
                        offset: 1,
                        color: 'rgb(25, 183, 207)'
                    }])
                }
            }
        }]
    };
    myChart.setOption(option);
</script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('pumiddboxtbott1'));
    option = {
        backgroundColor: 'rgba(1,202,217,.2)',
        grid: {
            left: 60,
            right: 60,
            top: 70,
            bottom: 40
        },

        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            top: 10,
            textStyle: {
                fontSize: 10,
                color: 'rgba(255,255,255,.7)'
            },
            data: ['2017年', '2018年', '同比增速']
        },
        xAxis: [
            {
                type: 'category',
                axisLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.2)'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.1)'
                    }
                },
                axisLabel: {
                    color: "rgba(255,255,255,.7)"
                },

                data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '',
                min: 0,
                max: 250,
                interval: 50,
                axisLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.3)'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.01)'
                    }
                },

                axisLabel: {
                    formatter: '{value} ml'
                }
            },
            {
                type: 'value',
                name: '',
                max: 25,
                interval: 5,
                axisLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.3)'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: 'rgba(255,255,255,.1)'
                    }
                },
                axisLabel: {
                    formatter: '{value} °C'
                }
            }
        ],
        series: [

            {
                name: '2017年',
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#b266ff'},
                                {offset: 1, color: '#121b87'}
                            ]
                        )
                    }
                },
                data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
            },
            {
                name: '2018年',
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#00f0ff'},
                                {offset: 1, color: '#032a72'}
                            ]
                        )
                    }
                },
                data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
            },
            {
                name: '同比增速',
                type: 'line',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#fffb34'},
                                {offset: 1, color: '#fffb34'}
                            ]
                        )
                    }
                },
                yAxisIndex: 1,
                data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
            }
        ]
    };
    myChart.setOption(option);
</script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('purightboxtop'));
    option = {
        color: ['#76c4bf', '#e5ffc7', '#508097', '#4d72d9'],
        backgroundColor: 'rgba(1,202,217,.2)',
        grid: {
            left: 10,
            right: 40,
            top: 0,
            bottom: 0,
            containLabel: true
        },
        // legend: {
        //     x : 'center',
        //     y : 'bottom',
        //     textStyle:{
        //       fontSize: 10,
        //       color:'rgba(255,255,255,.7)'
        //     },
        //     data:['涉蒙','涉疆','涉军','涉恐','涉藏','涉稳','涉警']
        // },
        calculable: true,
        series: [

            {
                name: '面积模式',
                type: 'pie',
                radius: [10, 70],
                center: ['50%', '50%'],
                roseType: 'area',
                data: [
                    {value: 10, name: '涉蒙'},
                    {value: 5, name: '涉疆'},
                    {value: 15, name: '涉军'},
                    {value: 25, name: '涉恐'},
                    {value: 5, name: '涉藏'},
                    {value: 15, name: '涉稳'},
                    {value: 15, name: '涉警'}

                ]
            }
        ]
    };
    myChart.setOption(option);
</script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('purightboxmidd'));
    option = {
        color: ['#7de494', '#7fd7b1', '#5578cf', '#5ebbeb', '#d16ad8', '#f8e19a', '#00b7ee', '#81dabe', '#5fc5ce'],
        backgroundColor: 'rgba(1,202,217,.2)',

        grid: {
            left: 30,
            right: 40,
            top: 30,
            bottom: 20,
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)'
                }
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            },
            axisLabel: {
                color: "rgba(255,255,255,.7)"
            },
            data: ['6-08', '6-09', '6-10', '6-11', '6-12', '6-13', '6-14']
        },
        yAxis: {
            type: 'value',
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)'
                }
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            },
            axisLabel: {
                color: "rgba(255,255,255,.7)"
            },
        },
        series: [
            {
                name: '2014年',
                type: 'line',
                stack: '总量',
                areaStyle: {normal: {}},
                data: [120, 132, 101, 134, 90, 230, 210]
            }

        ]
    };
    myChart.setOption(option);
</script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('purightboxbott'));
    option = {
        color: ['#00f1fc', '#00b7ee', '#5578cf', '#5ebbeb', '#d16ad8', '#f8e19a', '#00b7ee', '#81dabe', '#5fc5ce'],
        backgroundColor: 'rgba(1,202,217,.2)',
        grid: {
            left: 20,
            right: 20,
            top: 0,
            bottom: 20
        },
        legend: {
            top: 10,
            textStyle: {
                fontSize: 10,
                color: 'rgba(255,255,255,.7)'
            },
            data: ['境外', '境内','外国']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: '55%',
                center: ['50%', '55%','30%'],
                data: [
                    {value: 335, name: '境外'},
                    {value: 310, name: '境内'},
                     {value: 330, name: '境内'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    myChart.setOption(option);
</script>
<script>
    $(function () {
        initBar();
        initBar1();
        initBar2();
    })

    // 初始化折线图
    function initBar() {
        var myChart = echarts.init(document.getElementById('m1'))
        var option  = {
            backgroundColor: 'rgba(1,202,217,.2)',
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          legend: {
                textStyle:{
                    color:'yellow'
                }
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [
            {
              type: 'category',
              data: [],
                axisLabel: {
            textStyle: {
                color: 'white' ,// 这里设置字体颜色为红色,
                fontSize:10,
            }
        }
            }

          ],
          yAxis: [
            {
              type: 'value',
                axisLabel: {
            textStyle: {
                color: 'white' // 这里设置字体颜色为蓝色
            }
        }
            }
          ],
          series: []
        };
        $.ajax({
            url: 'dashboard_translate_bar/',
            type: "get",
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    console.log(res.data.date_list)
                    option.series = res.data.data_list;
                    option.xAxis[0].data = res.data.date_list;
                }
                myChart.setOption(option);
            }
        })
      myChart.setOption(option)
    }

    <!--   顶部变量显示-->
    android = document.getElementById('android_count')
    ios = document.getElementById('ios_count')
    server = document.getElementById('server_count')
    flutter = document.getElementById('flutter_data')
    $.ajax({
        url: 'dashboard_language_count/',
        type: "get",
        dataType: "JSON",
        success: function (res) {
            if (res.status) {
                android.textContent = res.data.android;
                ios.textContent = res.data.ios;
                server.textContent = res.data.server
            }
        }
    })

    //     执行总次数
    executions_total = document.getElementById('executions_total')
    $.ajax({
        url: "dashboard_executions_total/",
        data: "get",
        dataType: "JSON",
        success: function (res) {
            if (res.status) {
                // console.log(res.data)
                executions_total.textContent = res.data
            }
        }
    })


    // 多语言饼图
    function initBar1() {
        var chartDom = document.getElementById('m2')
        var myChart = echarts.init(chartDom);
        var option = {
            backgroundColor: 'rgba(1,202,217,.2)',
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center',
                textStyle:{
                    color:'yellow'
                }
            },
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    padAngle: 5,
                    itemStyle: {
                        borderRadius: 30
                    },
                    label: {

                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 40,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: []
                }
            ]
        };
        $.ajax({
            url: "dashboard_translate_pie/",
            type: "get",
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    option.series[0].data = res.data.data_list;
                }
                myChart.setOption(option)
            }
        })
    }

    function initBar2() {
        var chartDom = document.getElementById('m1');
        var myChart = echarts.init(chartDom);
        var series = [
            {
                data: [120, 200, 150, 80, 70, 110, 130],
                type: 'bar',
                stack: 'a',
                name: 'a'
            },
            {
                data: [10, 46, 64, '-', 0, '-', 0],
                type: 'bar',
                stack: 'a',
                name: 'b'
            },
            {
                data: [30, '-', 0, 20, 10, '-', 0],
                type: 'bar',
                stack: 'a',
                name: 'c'
            },
            {
                data: [30, '-', 0, 20, 10, '-', 0],
                type: 'bar',
                stack: 'b',
                name: 'd'
            },
            {
                data: [10, 20, 150, 0, '-', 50, 10],
                type: 'bar',
                stack: 'b',
                name: 'e'
            }
        ];
        const stackInfo = {};
        for (let i = 0; i < series[0].data.length; ++i) {
            for (let j = 0; j < series.length; ++j) {
                const stackName = series[j].stack;
                if (!stackName) {
                    continue;
                }
                if (!stackInfo[stackName]) {
                    stackInfo[stackName] = {
                        stackStart: [],
                        stackEnd: []
                    };
                }
                const info = stackInfo[stackName];
                const data = series[j].data[i];
                if (data && data !== '-') {
                    if (info.stackStart[i] == null) {
                        info.stackStart[i] = j;
                    }
                    info.stackEnd[i] = j;
                }
            }
        }
        for (let i = 0; i < series.length; ++i) {
            const data = series[i].data;
            const info = stackInfo[series[i].stack];
            for (let j = 0; j < series[i].data.length; ++j) {
                // const isStart = info.stackStart[j] === i;
                const isEnd = info.stackEnd[j] === i;
                const topBorder = isEnd ? 20 : 0;
                const bottomBorder = 0;
                data[j] = {
                    value: data[j],
                    itemStyle: {
                        borderRadius: [topBorder, topBorder, bottomBorder, bottomBorder]
                    }
                };
            }
        }
        option = {
            xAxis: {
                type: 'category',
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
            },
            yAxis: {
                type: 'value'
            },
            series: series
        };
        myChart.setOption(option)
    }

</script>
</body>
</html>
