<html lang="en">
<meta charset="utf-8">
<title>测试数据平台</title>
<link href="/static/assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<script src="/static/assets/js/echarts.min.js" charset="utf-8"></script>
<!--<link href="/static/assets2/css/bootstrap.min.css" rel="stylesheet"/>-->
<script src="/static/assets2/js/jquery.min.js"></script>


<body>
<div class="bnt">
    <div class="topbnt_left fl">
        <!-- 顶部动态显示数据-->
        <ul>
            <li>Android:<span id="android_count"></span></li>
            <li>Ios:<span id="ios_count"></span></li>
            <li>Server:<span id='server_count'></span></li>
            <li>Flutter:<span id='flutter_count'></span></li>
        </ul>
    </div>
    <h1 class="tith1 fl">测试数据平台</h1>
    <div class=" fr topbnt_right">
        <ul>
            <li>
                <a href="https://rg975ojk5z.feishu.cn/base/RGz2bX9TNagr2PsJp57c1tKlne8?table=tblI9mr4bogNeUpx&view=vewMnpNgGD">总结与分享</a>
            </li>
            <li>
                <a href="https://rg975ojk5z.feishu.cn/base/V3OMbRyLpasVNGsdbwacONhanBd?table=tblpedovHXYyrNJp&view=vewXxBNTOK">线上反馈</a>
            </li>
            <li><a href="http://10.41.3.60:8080/">安卓打包机</a></li>
            <li><a href="http://10.41.3.251:8080/">ios打包机</a></li>
        </ul>
        </ul>
    </div>
</div>
<!-- bnt end -->
<div class="puleft fl">
    <div class="pulefttop">
        <!-- 折线图区域-->
        <h2 class="tith2">多语言自动化结果</h2>
        <div id='m1' style="width:90%; height:88%;margin-left:5%"></div>
    </div>
    <div class="puleftboxtmidd">
        <h2 class="tith2">多语言统计</h2>
        <div class="box pbox" style="width: auto;height: 88%;margin-top: 2px">
            <div id='m2' style="width:90%; height:117%;margin-left:5%"></div>
        </div>
    </div>
    <div class="puleftboxtbott">
        <h2 class="tith2 pt1">舆情环比分析</h2>
        <div class="lefttoday_tit"><p class="fl">状态：正常</p>
            <p class="fr"></p></div>
        <div class="box pbox">
            <div id="puleftboxtbott1" class="fl puleftboxtbott1"></div>
        </div>
    </div>
</div>
<!--  left1 end -->
<div class="fl pt6 puleft2">
    <div class="pmidd_bott">
        <div class="pumiddboxttop1 fl">
            <h2 class="tith2 pt3">执行次数</h2>
            <div class="lefttoday_tit"><p class="fl"></p>
                <p class="fr"></p></div>
            <div class="puleft2height">
                <div class="widget-inline-box text-center ">
                    <p>多语言执行总数</p>
                    <h3 class=" ceeb1fd f30" id='executions_translate_total'></h3>
                    <h4 class="text-muted ">增长<img src="/static/assets/img/iconup.png" height="16"/>1次</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>ui自动化执行次数</p>
                    <h3 class=" c24c9ff f30">54</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/icondown.png" height="16"/>3%</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>接口自动化执行次数</p>
                    <h3 class=" cffff00 f30" id="executions_interface_total"></h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/icondown.png" height="16"/>3%</h4>
                </div>
                <div class="widget-inline-box text-center ">
                    <p>今日线上反馈数量</p>
                    <h3 class=" ceeb1fd f30">54</h3>
                    <h4 class="text-muted ">环比<img src="/static/assets/img/iconup.png" height="16"/>2%</h4>
                </div>
            </div>
        </div>
        <div class="pumiddboxttop2 fl">
            <h2 class="tith2 pt3">热门信息</h2>
            <div class="lefttoday_tit "><p class="fl">状态：已调节</p>
                <p class="fr">时间段：2018-06-10</p></div>
            <div class="left2_table pumiddboxttop2_cont">
                <ul>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li class="bg">
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li class="bg">
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li class="bg">
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                    <li>
                        <p class="text_l">村名王某因为被隔壁邻居的狗咬了，产生了纠纷，村名报警。</p>
                        <p class="text_r">新浪微博 转发：86 2018-06-14 11:08:56</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--   接口测试结果区域-->
    <div class="pmiddboxtbott">
        <h2 class="tith2 pt1">接口测试结果</h2>
        <div class="lefttoday_tit"><p class="fl">状态：正常</p>
            <p class="fr"></p></div>
        <div style="height: 80%;width: 100%">
            <div id="pumiddboxtbott1" class="fl " style="width: 100%;height: 100%"></div>
        </div>
    </div>
    <!-- amidd_bott end -->
</div>
<!-- 右侧数据展示-->
<div class="mr_right fl">
    <!--    安卓ui仪表盘-->
    <div class="purightboxtop"><h2 class="tith2 pt12">安卓-UI自动化结果分析</h2>
        <div class="lefttoday_tit"><p class="fl"></p>
            <p class="fr">执行时间：2018-06-10 </p></div>
        <div id="purightboxtop" class="purightboxtopcont"></div>
    </div>
    <!--    ui用例统计区域-->
    <div class="purightboxmidd"><h2 class="tith2 pt12">ui自动化用例数</h2>
        <div class="lefttoday_tit"><p class="fl"></p>
            <p class="fr">时间段：2018-06-10</p></div>
        <div id="purightboxmidd" class="purightboxmiddcont"></div>
    </div>
    <!--    ios-ui仪表盘-->
    <div class="purightboxbott"><h2 class="tith2 pt12">IOS-UI自动化结果分析</h2>
        <div class="lefttoday_tit"><p class="fl"></p>
            <p class="fr">执行时间：2018-06-10 </p></div>

        <div id="purightboxbott2" class="purightboxbottcont"></div>
    </div>
</div>


<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('puleftboxtbott1'));
    var data = [
        [[28604, 77, 17099, 'Australia', 1990], [31163, 77.4, 2440, 'Canada', 1990], [1516, 68, 1605773, 'China', 1990], [13670, 74.7, 10082, 'Cuba', 1990], [28599, 75, 49805, 'Finland', 1990], [29476, 77.1, 569499, 'France', 1990], [31476, 75.4, 789237, 'Germany', 1990], [28666, 78.1, 254830, 'Iceland', 1990], [1777, 57.7, 870776, 'India', 1990], [29550, 79.1, 129285, 'Japan', 1990], [2076, 67.9, 201954, 'North Korea', 1990], [12087, 72, 42954, 'South Korea', 1990], [24021, 75.4, 33934, 'New Zealand', 1990], [43296, 76.8, 4240375, 'Norway', 1990], [10088, 70.8, 381958, 'Poland', 1990], [19349, 69.6, 1475652, 'Russia', 1990], [10670, 67.3, 53905, 'Turkey', 1990], [26424, 75.7, 57117, 'United Kingdom', 1990], [37062, 75.4, 252810, 'United States', 1990]],
        [[44056, 81.8, 23973, 'Australia', 2015], [43294, 81.7, 35927, 'Canada', 2015], [13334, 76.9, 1376043, 'China', 2015], [21291, 78.5, 11562, 'Cuba', 2015], [38923, 80.8, 55057, 'Finland', 2015], [37599, 81.9, 64345, 'France', 2015], [44053, 81.1, 80545, 'Germany', 2015], [42182, 82.8, 329425, 'Iceland', 2015], [5903, 66.8, 1311027, 'India', 2015], [36162, 83.5, 126571, 'Japan', 2015], [1390, 71.4, 251317, 'North Korea', 2015], [34644, 80.7, 503439, 'South Korea', 2015], [34186, 80.6, 4528526, 'New Zealand', 2015], [64304, 81.6, 5210967, 'Norway', 2015], [24787, 77.3, 386194, 'Poland', 2015], [23038, 73.13, 143918, 'Russia', 2015], [19360, 76.5, 78630, 'Turkey', 2015], [38225, 81.4, 64715810, 'United Kingdom', 2015], [53354, 79.1, 321771, 'United States', 2015]]
    ];

    option = {
        backgroundColor: 'rgba(1,202,217,.2)',
        grid: {
            left: 60,
            right: 40,
            top: 45,
            bottom: 40
        },
        title: {
            top: 5,
            left: 20,
            textStyle: {
                fontSize: 10,
                color: 'rgba(255,255,255,.6)'
            },
            text: '环比类型：日环比'
        },
        legend: {
            right: 10,
            top: 5,
            textStyle: {
                fontSize: 10,
                color: 'rgba(255,255,255,.6)'
            },
            data: ['1990', '2015']
        },
        xAxis: {
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)'
                }
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            },
            axisLabel: {
                color: "rgba(255,255,255,.7)"
            }
        },
        yAxis: {
            axisLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.2)'
                }
            },
            splitLine: {
                lineStyle: {
                    color: 'rgba(255,255,255,.1)'
                }
            },
            axisLabel: {
                color: "rgba(255,255,255,.7)"
            },

            scale: true
        },
        series: [{
            name: '1990',
            data: data[0],
            type: 'scatter',
            symbolSize: function (data) {
                return Math.sqrt(data[2]) / 5e2;
            },
            label: {
                emphasis: {
                    show: true,
                    formatter: function (param) {
                        return param.data[3];
                    },
                    position: 'top'
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(120, 36, 50, 0.5)',
                    shadowOffsetY: 5,
                    color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                        offset: 0,
                        color: 'rgb(251, 118, 123)'
                    }, {
                        offset: 1,
                        color: 'rgb(204, 46, 72)'
                    }])
                }
            }
        }, {
            name: '2015',
            data: data[1],
            type: 'scatter',
            symbolSize: function (data) {
                return Math.sqrt(data[2]) / 5e2;
            },
            label: {
                emphasis: {
                    show: true,
                    formatter: function (param) {
                        return param.data[3];
                    },
                    position: 'top'
                }
            },
            itemStyle: {
                normal: {
                    shadowBlur: 10,
                    shadowColor: 'rgba(25, 100, 150, 0.5)',
                    shadowOffsetY: 5,
                    color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                        offset: 0,
                        color: 'rgb(129, 227, 238)'
                    }, {
                        offset: 1,
                        color: 'rgb(25, 183, 207)'
                    }])
                }
            }
        }]
    };
    myChart.setOption(option);
</script>


<script type="text/javascript">
    $(function () {
        initBar();
        initBar1();
        initBar2();
        initBar3();
        initBar4();
        initBar5();
    })

    // 初始化折线图
    function initBar() {
        var myChart = echarts.init(document.getElementById('m1'))
        var option = {
            backgroundColor: 'rgba(1,202,217,.2)',
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                textStyle: {
                    color: 'yellow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: [],
                    axisLabel: {
                        textStyle: {
                            color: 'white',
                            fontSize: 10,
                        }
                    }
                }

            ],
            yAxis: [
                {
                    type: 'value',
                    axisLabel: {
                        textStyle: {
                            color: 'white' // 这里设置字体颜色为蓝色
                        }
                    }
                }
            ],
            series: []
        };
        $.ajax({
            url: 'dashboard_translate_bar/',
            type: "get",
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    option.series = res.data.data_list;
                    option.xAxis[0].data = res.data.date_list;
                }
                myChart.setOption(option);
            }
        })
    }

    <!--   顶部变量显示-->
    android = document.getElementById('android_count')
    ios = document.getElementById('ios_count')
    server = document.getElementById('server_count')
    flutter = document.getElementById('flutter_count')
    $.ajax({
        url: 'dashboard_language_count/',
        type: "get",
        dataType: "JSON",
        success: function (res) {
            if (res.status) {
                android.textContent = res.data.android;
                ios.textContent = res.data.ios;
                server.textContent = res.data.server;
                flutter.textContent = res.data.flutter;
            }
        }
    })

    // 执行总次数区域
    executions_translate_total = document.getElementById('executions_translate_total')
    $.ajax({
        url: "dashboard_executions_translate_total/",
        data: "get",
        dataType: "JSON",
        success: function (res) {
            if (res.status) {
                executions_translate_total.textContent = res.data
            }
        }
    })
    executions_interface_total = document.getElementById('executions_interface_total')
    $.ajax({
        url: "dashboard_executions_interface_total/",
        data: "get",
        dataType: "JSON",
        success: function (res) {
            if (res.status) {
                executions_interface_total.textContent = res.count
            }
        }
    })

    // 多语言饼图
    function initBar1() {
        var chartDom = document.getElementById('m2')
        var myChart = echarts.init(chartDom);
        var option = {
            backgroundColor: 'rgba(1,202,217,.2)',
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center',
                textStyle: {
                    color: 'yellow'
                }
            },
            series: [
                {
                    name: '',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    padAngle: 5,
                    itemStyle: {
                        borderRadius: 30
                    },
                    label: {

                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 40,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: []
                }
            ]
        };
        $.ajax({
            url: "dashboard_translate_pie/",
            type: "get",
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    option.series[0].data = res.data.data_list;
                }
                myChart.setOption(option)
            }
        })
    }

    // 接口测试折线图区域
    function initBar2() {
        var myChart = echarts.init(document.getElementById('pumiddboxtbott1'));
        var option = {
            backgroundColor: 'rgba(1,202,217,.2)',
            grid: {
                left: 60,
                right: 60,
                top: 70,
                bottom: 40,
            },

            toolbox: {
                feature: {
                    magicType: {show: true, type: ['line']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                top: 10,
                textStyle: {
                    fontSize: 10,
                    color: 'rgba(255,255,255,.7)'
                },
                data: ['接口总数', '成功数', '失败数', '成功率']
            },
            xAxis: [
                {
                    type: 'category',
                    axisLine: {
                        lineStyle: {
                            color: 'rgba(255,255,255,.2)'
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: 'rgba(255,255,255,.1)'
                        }
                    },
                    axisLabel: {
                        color: "rgba(255,255,255,.7)"
                    },

                    data: [],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '',
                    min: 0,
                    max: 600,
                    interval: 100,
                    axisLine: {
                        lineStyle: {
                            color: 'rgba(255,255,255,.3)'
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: 'rgba(255,255,255,.01)'
                        }
                    },

                    axisLabel: {
                        formatter: '{value}条'
                    }
                },
                {
                    type: 'value',
                    name: '',
                    max: 100,
                    interval: 10,
                    min: 60,
                    axisLine: {
                        lineStyle: {
                            color: 'rgba(255,255,255,.3)'
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: 'rgba(255,255,255,.1)'
                        }
                    },
                    axisLabel: {
                        formatter: '{value} %'
                    }
                }
            ],
            series: [
                {
                    name: '接口总数',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#b266ff'},
                                    {offset: 1, color: '#121b87'}
                                ]
                            )
                        }
                    },
                    data: []
                },
                {
                    name: '成功数',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#00f0ff'},
                                    {offset: 1, color: '#032a72'}
                                ]
                            )
                        }
                    },
                    data: []
                },
                {
                    name: '失败数',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#00f0ff'},
                                    {offset: 1, color: '#032a72'}
                                ]
                            )
                        }
                    },
                    data: []
                },
                {
                    name: '成功率',
                    type: 'line',
                    itemStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(
                                0, 0, 0, 1,
                                [
                                    {offset: 0, color: '#fffb34'},
                                    {offset: 1, color: '#fffb34'}
                                ]
                            )
                        }
                    },
                    yAxisIndex: 1,
                    data: []
                }
            ]
        };
        $.ajax({
            url: 'dashboard_executions_interface_detail/',
            type: 'get',
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    option.series[0].data = res.data['total_interface'];
                    option.series[1].data = res.data['total_pass'];
                    option.series[2].data = res.data['total_fail'];
                    option.series[3].data = res.data['passing_rate'];
                    option.xAxis[0].data = res.data['date_list']
                }
                myChart.setOption(option)
            }
        });
    }

    <!--安卓端自动化饼图-->
    function initBar3() {
        var myChart = echarts.init(document.getElementById('purightboxtop'))
        var option = {
            color: ['#00f1fc', '#00b7ee', '#5578cf', '#5ebbeb', '#d16ad8', '#f8e19a', '#00b7ee', '#81dabe', '#5fc5ce'],
            backgroundColor: 'rgba(1,202,217,.2)',
            series: [
                {
                    name: '安卓饼图',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '55%', '30%'],
                    data: [],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        $.ajax({
            url: 'android_ui_results/',
            type: 'get',
            dataType: "JSON",
            success: function (res) {
                if (res.status) {
                    option.series[0].data = res['android_data'];


                }
                myChart.setOption(option)
            }
        })
    }

    <!--ios自动化饼图-->
    function initBar4() {
        var myChart = echarts.init(document.getElementById('purightboxbott2'));
        var option = {
            color: ['#00f1fc', '#00b7ee', '#5578cf', '#5ebbeb', '#d16ad8', '#f8e19a', '#00b7ee', '#81dabe', '#5fc5ce'],
            backgroundColor: 'rgba(1,202,217,.2)',
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '55%', '30%'],
                    data: [],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        $.ajax({
            url: 'ios_ui_results/',
            type: 'GET',
            dataType: 'JSON',
            success: function (res) {
                if (res.status) {
                    option.series[0].data = res['ios_data']
                }
                myChart.setOption(option)
            }
        })
    }

    // ui自动化用例数与通过率
    function initBar5() {
        var myChart = echarts.init(document.getElementById('purightboxmidd'))
        var option = {
            backgroundColor: 'rgba(1,202,217,.2)',

            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['IOS', 'ANDROID'],
                textStyle: {
                    color: 'yellow',

                }

            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            // toolbox: {
            //   feature: {
            //     saveAsImage: {}
            //   }
            // },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                axisLabel: {
                    show: true,
                    color: '#ffffff',
                    fontSize: 16
                }
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    show: true,
                    color: '#ffffff',
                    fontSize: 16
                }
            },
            series: [
                {
                    name: 'IOS',
                    type: 'line',
                    stack: 'Total',
                    data: [],
                    lineStyle: {
                        color: 'red',
                        width: 2,
                        type: 'solid'
                    },
                    // 修改数据点颜色
                    itemStyle: {
                        color: 'white'
                    },

                },
                {
                    name: 'ANDROID',
                    type: 'line',
                    stack: 'Total',
                    data: [],
                    lineStyle: {
                        color: 'yellow', // 这里设置为红色
                        width: 2,
                        type: 'solid'
                    },
                    // 修改数据点颜色
                    itemStyle: {
                        color: 'white' // 数据点颜色设置为蓝色
                    }

                },
            ]
        };
        $.ajax({
            url:'ui_test_statistics/',
            type:'GET',
            dataType:'JSON',
            success:function (res){
                if (res.status){
                    option.series[1].data=res['android_statistics'];
                    console.log(option.series[1].data)
                    option.series[0].data = res['ios_statistics']
                    console.log(option.series[0].data)
                }
                 myChart.setOption(option);
            }
        })
    }
</script>
</body>
</html>
