{% extends "temp.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/assets/css/index_new.css">
    <div class="header">
        <div class="page-header-image" style="background-image:url(/static/assets2/img/1.jpg)"></div>
        <ol class="breadcrumb">

        </ol>
    </div>
    <div id="page-inner" >
        <div class="table_box">
            <div class="row">
                <!--接口数 -->
                <a class="col-xs-6 col-lg-3 tb_box_two" href="#">
                    <div class="tb_cls_one">
                        <div class="tb_cls_two">
                            <div class="cls_three">
                                <img class="all_img" src="/static/assets/img/data.png">
                            </div>
                        </div>
                        <div class="cls_four">
                            <div class="cls_five" id="interface_number"></div>
                        </div>
                        <div class="cls_six">
                            <div class="cls_seven">安卓多语言总数</div>
                        </div>
                    </div>
                </a>
                <!--用例数 -->
                <a class="col-xs-6 col-lg-3 tb_box_two" href="#">
                    <div class="tb_cls_one">
                        <div class="tb_cls_two case">
                            <div class="cls_three ">
                                <img class="all_img" src="/static/assets/img/yongli.png">
                            </div>
                        </div>
                        <div class="cls_four">
                            <div class="cls_five" id="case_number"></div>
                        </div>
                        <div class="cls_six">
                            <div class="cls_seven">安卓多语言总数</div>
                        </div>
                    </div>
                </a>
                <!--任务数 -->
                <a class="col-xs-6 col-lg-3 tb_box_two" href="#">
                    <div class="tb_cls_one">
                        <div class="tb_cls_two case_one">
                            <div class="cls_three ">
                                <img class="all_img" src="/static/assets/img/renwu.png">
                            </div>
                        </div>
                        <div class="cls_four">
                            <div class="cls_five" id="tasks_number"></div>
                        </div>
                        <div class="cls_six">
                            <div class="cls_seven">任务数量</div>
                        </div>
                    </div>
                </a>
                <!--总成功率  -->
                <div class="col-xs-6 col-lg-3 tb_box_two">
                    <div class="tb_cls_one">
                        <div class="tb_cls_two case_two">
                            <div class="cls_three">
                                <img class="all_img" src="/static/assets/img/success.png">
                            </div>
                        </div>
                        <div class="cls_four">
                            <div class="cls_five" id="success_number"></div>
                        </div>
                        <div class="cls_six">
                            <div class="cls_seven">接口总成功率</div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div id="" class="col-xs-8 col-lg-8 line-chart">
                <div class=" line">
                    <div id="main">
<!--                        折线图区域-->
                        <div class="col-lg-8">
                            <div style="background-color: transparent" >
                                <div class="panel-body" >
                                    <div id='m1' style="width:100%;height: 350%"  ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-lg-4 pie-chart">
                <div class="pie_rel">
<!--                    饼图区域-->
                    <div  style="background-color: transparent">
                        <div class="panel-body" style="width: auto;height: auto">
                            <div id = 'm2' style="width: 100%;height: 350%"></div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <script>
$(function () {
        initBar();
        initBar1();
    })

    /**
     初始化柱状图
     * **/
    function initBar() {
        var myChart = echarts.init(document.getElementById('m1'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例',
                left: "center",
                textAlign: "auto"
            },
            tooltip: {},
            legend: {
                data: [],
                bottom: 0
            },
            xAxis: {
                data: []
            },
            yAxis: {},
            series: []

        };

        $.ajax({
            url: "index_translate_bar/",
            type: 'get',
            dataType: "JSON",
            success: function (res) {
                // 将返回的数据，返回到options中
                if (res.status) {
                    option.legend.data = res.data.legend;
                    option.series = res.data.data_list;
                    option.xAxis.data = res.data.date_list;
                }
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

            }
        })

    }

     function initBar1() {{
        var chartDom = document.getElementById('m2')
        var myChart = echarts.init(chartDom);
        var option;
        option = {
          tooltip: {
            trigger: 'item'
          },
          legend: {
            top: '5%',
            left: 'center'
          },
          series: [
            {
              name: 'Access From',
              type: 'pie',
              radius: ['40%', '70%'],
              avoidLabelOverlap: false,
              padAngle: 5,
              itemStyle: {
                borderRadius: 10
              },
              label: {
                show: false,
                position: 'center'
              },
              emphasis: {
                label: {
                  show: true,
                  fontSize: 40,
                  fontWeight: 'bold'
                }
              },
              labelLine: {
                show: false
              },
              data: [
                { value: 1048, name: '安卓' },
                { value: 735, name: 'ios' },
                { value: 580, name: 'server' },
                { value: 484, name: 'unity' },
                { value: 300, name: 'flutter' }
              ]
            }
          ]
        };

        option && myChart.setOption(option);
        }}


    </script>
    {% endblock %}
