<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>接口自动化测试平台</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/materialize/css/materialize.min.css" media="screen,projection"/>
    <!-- Bootstrap Styles-->
<!--    <link href="/static/assets/js/bootstrap.min.js" rel="stylesheet"/></link>-->
    <link href="/static/assets/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="/static/assets/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="/static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="/static/assets/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/static/assets/js/Lightweight-Chart/cssCharts.css">
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="/static/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/static/assets/js/jquery-1.10.2.js"></script>
    <script src="/static/assets/js/jquery.cookie.js"></script>
    {% block js %}{% endblock %}


    <!-- Bootstrap Js -->
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/materialize/js/materialize.min.js"></script>
    <script src="/static/assets/js/multiselect.min.js"></script>\


    <!--测试报告所需组件css文件导入-->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/jquery.datetimepicker.css"/>
    <link rel="stylesheet" type="text/css" href="/static/assets/css/pagination.css"/>
    <!--测试报告页面所需js文件导入-->
    <script src="/static/assets/js/jquery.datetimepicker.js"></script>
    <script src="/static/assets/js/pagination.min.js"></script>
    <!-- 引入ECharts文件-->
    <script src="/static/assets/js/echarts.js"></script>
    <!-- 引入任务列表页开关-->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/jtoggler.styles.css">
    <script src="/static/assets/js/jtoggler.js"></script>
    <!-- 引入弹层样式-->
    <link rel="stylesheet" href="/static/assets/css/popout.css">
    <style>
        .active .childA {
            color: #fff !important;
        }
    </style>
</head>

<body style="overflow-x: hidden" id="baseHtml">
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand waves-effect waves-dark" href="#"><i class="large material-icons">track_changes</i>
                <p>接口自动化测试平台</p>
            </a>
            <div id="sideNav" href="">
                <i class="material-icons dp48">toc</i>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="dropdown-button waves-effect waves-dark" href="#" data-activates="dropdown1">
                    <i class="fa fa-user fa-fw"></i> <b>操作</b>
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li>
            <a href="/autotest/logout/">
                <i class="fa fa-sign-out fa-fw"></i> 退出
            </a>
        </li>
    </ul>
    <ul id="dropdown2" class="dropdown-content w250">
        <li>
            <div>
                <i class="fa fa-comment fa-fw"></i> New Comment
                <span class="pull-right text-muted small">4 min</span>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div>
                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                <span class="pull-right text-muted small">12 min</span>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div>
                <i class="fa fa-envelope fa-fw"></i> Message Sent
                <span class="pull-right text-muted small">4 min</span>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div>
                <i class="fa fa-tasks fa-fw"></i> New Task
                <span class="pull-right text-muted small">4 min</span>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div>
                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                <span class="pull-right text-muted small">4 min</span>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <ul id="dropdown3" class="dropdown-content dropdown-tasks w250">
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 1</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 2</strong>
                        <span class="pull-right text-muted">28% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28"
                             aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                            <span class="sr-only">28% Complete</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 3</strong>
                        <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <p>
                        <strong>Task 4</strong>
                        <span class="pull-right text-muted">85% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete (danger)</span>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
    </ul>
    <ul id="dropdown4" class="dropdown-content dropdown-tasks w250 taskList">
        <li>
            <div>
                <strong>John Doe</strong>
                <span class="pull-right text-muted">
                    <em>Today</em>
                </span>
            </div>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...</p>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <div>
                <strong>John Smith</strong>
                <span class="pull-right text-muted">
                    <em>Yesterday</em>
                </span>
            </div>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since an kwilnw...</p>
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">
                <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                        <em>Yesterday</em>
                    </span>
                </div>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the...</p>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="#">
                <strong>Read All Messages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    </ul>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side"
         style="padding-bottom:20px;overflow:auto;max-height: calc(100% - 60px)"
         role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="waves-effect waves-dark" href="/autotest/index/"><i class="fa fa-dashboard"></i> 首页</a>
                </li>
                <li class="YWGL">
                    <a href="/autotest/business/" class="waves-effect waves-dark"><i
                            class="fa fa-sitemap"></i> 业务管理</a>
                </li>
                <li id="ID_JKGL">
                    <a class="waves-effect waves-dark">
                        <i class="fa fa-sitemap"></i> 接口管理
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level" style="opacity: 0;height:0">
                        <li>
                            <a data-record="ID_JKGL,ID_QBJK" href="/autotest/inter/list" onClick="record(this)">全部接口</a>
                        </li>
                        <!--                        此行可以通过li进行列表添加，添加更多的分页部分-->

                        <!-- <li>
                            <a href="#">Second Level Link<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Link</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Link</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Link</a>
                                </li>

                            </ul>

                        </li> -->
                    </ul>
                </li>

                <li class="cd">
                    <a href="#" class="waves-effect waves-dark"><i
                            class="fa fa-sitemap"></i> 用例管理</a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark"><i
                            class="fa fa-desktop"></i> 任务列表</a>
                </li>
                <li>
                    <a href="#" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 测试报告</a>
                </li>
                <li>
                    <a href="/autotest/inter_tools" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>
                        接口测试工具</a>
                </li>
                <li>
                    {# <a href="#" class="waves-effect waves-dark"><i class="fa fa-table"></i> 发送邮件</a>#}
                </li>
            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">

        {% block content %}
        <div id="page-inner">
            <div class="dashboard-cards">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image red">
                                <i class="material-icons dp48">import_export</i>
                            </div>
                            <div class="card-stacked red">
                                <div class="card-content">
                                    <h3>84,198</h3>
                                </div>
                                <div class="card-action">
                                    <strong>REVENUE</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image orange">
                                <i class="material-icons dp48">shopping_cart</i>
                            </div>
                            <div class="card-stacked orange">
                                <div class="card-content">
                                    <h3>36,540</h3>
                                </div>
                                <div class="card-action">
                                    <strong>SALES</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image blue">
                                <i class="material-icons dp48">equalizer</i>
                            </div>
                            <div class="card-stacked blue">
                                <div class="card-content">
                                    <h3>24,225</h3>
                                </div>
                                <div class="card-action">
                                    <strong>PRODUCTS</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="card horizontal cardIcon waves-effect waves-dark">
                            <div class="card-image green">
                                <i class="material-icons dp48">supervisor_account</i>
                            </div>
                            <div class="card-stacked green">
                                <div class="card-content">
                                    <h3>88,658</h3>
                                </div>
                                <div class="card-action">
                                    <strong>VISITS</strong>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7">
                    <div class="cirStats">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="card-panel text-center">
                                    <h4>Profit</h4>
                                    <div class="easypiechart" id="easypiechart-blue" data-percent="82">
                                        <span class="percent">82%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="card-panel text-center">
                                    <h4>No. of Visits</h4>
                                    <div class="easypiechart" id="easypiechart-red" data-percent="46"><span
                                            class="percent">46%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="card-panel text-center">
                                    <h4>Customers</h4>
                                    <div class="easypiechart" id="easypiechart-teal" data-percent="84"><span
                                            class="percent">84%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="card-panel text-center">
                                    <h4>Sales</h4>
                                    <div class="easypiechart" id="easypiechart-orange" data-percent="55"><span
                                            class="percent">55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-image donutpad">
                                    <div id="morris-donut-chart"></div>
                                </div>
                                <div class="card-action">
                                    <b>Donut Chart Example</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.row-->
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-image">
                            <div id="morris-line-chart"></div>
                        </div>
                        <div class="card-action">
                            <b>Line Chart</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card">
                        <div class="card-image">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <div class="card-action">
                            <b> Bar Chart Example</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-image">
                            <div id="morris-area-chart"></div>
                        </div>
                        <div class="card-action">
                            <b>Area Chart</b>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            {% endblock %}
            <!-- /. ROW  -->

            <!-- /. PAGE WRAPPER  -->
        </div>
    </div>
</div>
{#弹层样式#}
<div class="mask popout">
    <div class="mask_rel">
        <div class="popout-box">
            <!-- 用户自己传入的图标 -->
            <div class="popout-img">
                <img src="/static/assets2/img/fail.png" id="img_pre">
            </div>
            <!-- 用户自己传入的文字 -->
            <div class="popout-title"></div>
        </div>
    </div>
</div>
<div class="mask confirm">
    <div class="confirm-box">
        <div class="confirm-top">
            <div class="title-box">
                <div class="title">确定要删除吗</div>
            </div>
        </div>
        <div class="link-top"></div>
        <div>
            <div class="cancel-box">取消</div>
            <div class="sure-box">确定</div>
        </div>
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/static/assets/js/jquery.metisMenu.js"></script>
<script src="/static/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/static/assets/js/morris/morris.js"></script>
<script src="/static/assets/js/easypiechart.js"></script>
<script src="/static/assets/js/easypiechart-data.js"></script>
<script src="/static/assets/js/xcConfirm.js"></script>
<script src="/static/assets/js/Lightweight-Chart/jquery.chart.js"></script>
<!-- Custom Js -->
<script src="/static/assets/js/custom-scripts.js"></script>

<script>
    // 菜单高亮，加载后再加载
    $(document).ready(function () {

        $('#main-menu li a').each(function () {
            if ($($(this))[0].href == String(window.location)) {
                $('#citybox li').removeClass("active-menu");
                $(this).parent().addClass('active');
            }
        });
        $('#dataTables-example').dataTable();
    });

    $('.nav-second-level').css('opacity', 1)
    // 循环菜单
    $('#main-menu li a').each(function () {

        if ($($(this))[0].href == String(window.location.href)) {
            $('#main-menu li a').removeClass("active-menu");
            $(this).addClass('active-menu').addClass();
        }
        $(this).on('click', function () {
            $('.active-menu').removeClass('active-menu');
            $(this).addClass('active-menu');
        })
    })
    useRecord()

    function useRecord() {
        var record = sessionStorage.getItem('data-record');
        var pid = null;
        var cid = null;
        if (record) {
            pid = record.split(',')[0]
            cid = record.split(',')[1]
        }
        if (pid && cid) {
            $('#' + pid).addClass('active')
            $('#' + pid + ' .nav-second-level').attr('aria-expanded', true).css('height', 'auto').addClass('in')
            $('#' + pid + ' .nav-second-level a').each(function () {
                if ($(this).attr('data-record') === record) {
                    $(this).addClass('childA')
                }
            })
        }
        sessionStorage.setItem('data-record', '');
    }

    function record(vm) {
        var record = vm.getAttribute('data-record');
        if (record) {
            sessionStorage.setItem('data-record', record)
        }
    }

    function aclick(e) {
        record(e)
        var text = $(e).text();<!--$(e).text() 获取这个元素的text-->

        $("#businessName").val(text);
        sub.submit()

    }

    $(function () {
        $("#main-menu li").click(function () {
            $(this).find('ul').toggleClass('show');<!--toggleClass,,添加和删除class-->
        })

    })


    function popout(name, img_url, data) {
        $(".popout").show();
        if (name.length <= 8) {
            $(".popout-title").css("width", "100px");
            $(".popout-title").css("font-size", "16px");
            $(".popout-title").css("height", "40px");
            $(".popout-title").css("line-height", "33px");
        } else {
            $(".popout-title").css("width", "140px");
            $(".popout-title").css("font-size", "15px");
            $(".popout-title").css("height", "59px");
            $(".popout-title").css("line-height", "2");
        }
        $(".popout-title").text(name);
        if (img_url.length <= 0) {
            img_url = "success_one.png";
        }
        if (data.length == 0) {
            data = 3000;
        } else {
            data = data * 1000;
        }
        $("#img_pre").attr("src", "/static/assets/img/" + img_url);
        $(".popout").show().delay(data).fadeOut();
    }

    function confirms(name,) {
        $(".confirm").show();
        $(".title").text(name);
    }
</Script>

</body>

</html>